/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,
html,
#map-canvas {
  height: 100%;
}
#loading {
  background: rgba(255, 255, 255, 0.5) url(../img/spinner.gif) center center no-repeat;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#search {
  position: absolute;
  top: 0;
  right: 0;
  left: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
#search #q {
  width: 73%;
  margin-right: 2%;
  display: inline-block;
}
#search button {
  width: 20%;
  min-width: 60px;
}
@media (max-width: 600px) {
  #search {
    left: 0;
    right: 0;
  }
  #map-canvas {
    position: fixed !important;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
