/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,
html,
#map-canvas {
  height: 100%;
}
#loading {
  background: rgba(255, 255, 255, 0.5) url(../img/spinner.gif) center center no-repeat;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
#search #q {
  width: 75%;
  margin-right: 2%;
}
#search button {
  width: 20%;
}
